*{
    background: #F3F5FC;
    font-family: "Inter";
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;

}

body{
    padding-left: 5%;
    
}

.logo{
    padding-top: 10px;
    margin-left: -25px;
    width: 3%;
}

header{
    width: 850px;
}

main{
    display: flex;
    margin-bottom: 50px;
    margin-left: 5px;
}

.text-area{
    border: none;
    color: #0A3871;
    margin-top: 20px;    
    width: 653px;
    height: 294px;
}

::placeholder{ color: #0A3871;}
    .text-area:focus{
        outline: none;
    }

.mensaje{
    background: white;
    background-image: url(imagenes/Muneco.png);
    background-position: 0% 10%;
    background-repeat: no-repeat;
    border: none;
    border-radius: 24px;
    color: #0A3871;
    margin-left: 20px;
    margin-top: 0px;
    top: 20px;
    padding-left: 20px;
    position: fixed;
    box-shadow: 0px 5px 5px 0px gray;
    height: 500px; 
    width: 337px;
    padding-top: 50px;
}

.mensaje:focus{
    outline: none;
}

.botones{
    display: flex;
    margin-top: 18px;
}

.btn-encriptar{
    background-color: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    height: 67px;
    width: 328px;
}

.btn-desencriptar{
    background-color: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 67px;
    margin-left: 30px;
    width: 328px;
}

.mensaje1{
    background: white;
    font-size: 25px;
    text-align: center;
    height: 50px;
    margin-left: 75px;
    margin-top: 330px;
    position: absolute;
    width: 250px;
    line-height: 1;   
}

.mensaje2{
    background: white;
    font-size: 15px;
    height: 50px;
    text-align: center;
    margin-left: 75px;
    margin-top: 410px;
    position: absolute;
    width: 250px;
    line-height: 1;
}

.copiar{
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 67px;
    margin-left: 30px;
    margin-top: 400px;
    position: absolute;
    width: 336px;
}

.informacion{
    color: #495057;
    font-size: 18px;
}

footer{
    padding-top: 0px;
    padding-bottom: 0px;
    width: 820px;
    margin: 5px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}
